<section class="links-page">

    <div class="links-container">
  
      <h1>links</h1>
  
      <p class="links-intro">
        Dog professionals of reference
      </p>
  
      <div class="links-list">
  
        <a
          href="https://en.turid-rugaas.no/"
          target="_blank"
          rel="noopener noreferrer"
        >
          Turid Rugaas - International dog trainer
        </a>
  
        <a
          href="https://www.nordicdogtrainer.com/blog/"
          target="_blank"
          rel="noopener noreferrer"
        >
          Nordic Dog Training - free resources - blog
        </a>
  
        <a
          href="https://www.smilingleash.com/blog"
          target="_blank"
          rel="noopener noreferrer"
        >
          Smiling Leash Project - blog
        </a>
  
        <a
          href="https://www.slowdogmovement.org/learn-more"
          target="_blank"
          rel="noopener noreferrer"
        >
          Slow Dog Movement - learn more
        </a>
  
        <a
          href="https://freedogz.be/"
          target="_blank"
          rel="noopener noreferrer"
        >
          FreeDogz be - harness info
        </a>
  
        <a
          href="https://www.galenmyotherapy.com/"
          target="_blank"
          rel="noopener noreferrer"
        >
          Galen Myotherapy - Dog massage / Biomechanics / Rehabilitation
        </a>
  
        <a
          href="https://caninearthritis.co.uk/cam-adviser/amber-batson/"
          target="_blank"
          rel="noopener noreferrer"
        >
          Dr Amber Batson - Veterinary Surgeon & Behaviourist - Canine Arthritis Management
        </a>
  
        <a
          href="https://www.youtube.com/@learntoobservedogs"
          target="_blank"
          rel="noopener noreferrer"
        >
          Kateryna Volkova - Learn to Observe Dogs - youtube channel
        </a>
  
      </div>
  
    </div>
  
  </section>