<section class="gallery-page">

    <div class="gallery-header">
      <h1>memories of friends</h1>
  
      <p>
        ... more soon. Gallery in construction..
      </p>
    </div>
  
  
    <div class="gallery-grid">
  
        <div class="gallery-item">
            <img src="images/gallery/dog-01.jpg" alt="Dog">
          </div>
          
          <div class="gallery-item">
            <img src="images/gallery/dog-02.jpg" alt="Dog">
          </div>
          
          <div class="gallery-item">
            <img src="images/gallery/dog-03.jpg" alt="Mafalda with a dog">
          </div>
  
    </div>
  
  </section>