<nav class="navbar">

    <a routerLink="/" class="logo">
      calmafalda
    </a>
  
    <div class="nav-links">
      <a routerLink="/" fragment="services">services</a>
      <a routerLink="/" fragment="reviews">reviews</a>
      <a routerLink="/about">about me</a>
      <a routerLink="/gallery">gallery</a>
      <a routerLink="/links">links</a>
      <a routerLink="/" fragment="contact" class="contact-button">
        contact me
      </a>
    </div>
  
    <div class="language-selector">
      <button>EN</button>
      <span>|</span>
      <button>PT</button>
    </div>
  
  </nav>